/* About Us Container */
.about-us-container {
    max-width: 800px;
    margin: 40px auto 0;;
    padding: 40px;
    background: linear-gradient(to right, var(--neutral-light), #d9f2e6);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Push content to the top */
    padding-bottom: 0px
}

.about-us-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.about-us-container p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

.about-us-container ul {
    margin-top: 20px;
    padding-left: 20px;
}

.about-us-container li {
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
}

.about-us-container h2 {
    color: #333;
    margin-top: 30px;
    margin-bottom: 10px;
}

.about-us-container p:last-child {
    margin-top: 30px;
}
